@model LogoModel
@*<h1 class="h2 mt-2">
        <a href="@Url.RouteUrl("HomePage")">
            <img class="img-fluid" style="max-width:200px; max-height:90px;" title="" alt="@Model.StoreName" src="@Model.LogoPath">
            <span class="sr-only">@T("admin.configuration.shipping.providers.fields.logo")</span>
        </a>
</h1>*@

<h1 class="h2 mt-2">
    <a href="@Url.RouteUrl("HomePage")">
        @if (Grand.Web.Extensions.HtmlExtensions.IsMobile())
        {
        <img title="Prometeon" class="img-fluid" style="height:30px" src="@Model.LogoPath">
        }
        else
        {
            <img title="Prometeon"  class="img-fluid logoImg" src="@Model.LogoPath">
        }
    </a>
</h1>